
body{
    background: url('/media/ITF_homepage.jpg') no-repeat center center fixed;
    background-size: cover;

}

#logout {
    padding-left: 1em;
    
}

.navbar-brand{

    font-family: 'Lobster', cursive;
    font-size: x-large;
   

}

.jumbotron{
    padding-top: 2em;
}

#welcome{

    font-family: 'Lobster', cursive;
    font-size: x-large;

}

#register_btn{

    padding-left: 1em;
}

#login_btn{

    padding-left: 1em;
}
#login{

    padding-top: 1em;

}

#user{
    padding-top: 1em;
}

#register{
    padding-top: 1em;

}

#donate{
    padding-top: 1em;

}

.checked {
  color: orange;
}
