{% extends 'base.html' %}
{%block title%}Home{% endblock%}
{% block content %}
{% if user.is_authenticated %}
<div class="container fluid" id="user">
   <h1>Hi {{user.username}}!<i class="far fa-smile"></i></h1>
   <p>Visit our bank of resources <a href="{% url 'products' %}">here</a>. They are free, and always will be, but if you like our work you can make a <a href="{% url 'donations' %}">donation</a> to suppport us!</p>
   <p>If you have any questions, please <a href="mailto:raphaelmar@hotmail.fr">contact us</a>.</p>
   <p><a class="btn btn-outline-dark" href="{% url 'logout' %}">Log Out</a></p>
   <p><a class="btn btn-outline-dark"href="{% url 'password_reset' %}">Reset Password</a></p>
</div>
{% else %}
<div class="jumbotron jumbotron-fluid col-lg offset-4">
   <div class="container" id="welcome">
      <h1>Welcome to I teach French</h1>
      <p>Your site for free, classroom ready French teaching resources!</p>
      <p>Log in or register to download resources</p>
   </div>
</div>
<div class="container col-lg offset-4">
   <a class="btn btn-outline-dark" href="{% url 'login' %}" role="button">Log in</a>
   <a class="btn btn-outline-dark" href="{% url 'signup' %}" role="button">Register</a>
</div>
{% endif %}
{% endblock %}