{% extends 'base.html' %}

{%block title%}Home{% endblock%}



{% block content %}


{% if user.is_authenticated %}

    Hi {{user.username}}!
    <p><a class="btn btn-outline-danger" href="{% url 'logout' %}">Log Out</a></p>
    <p><a class="btn btn-outline-warning"href="{% url 'password_reset' %}">Reset Password</a></p>
    {% else %}
    
    <p>Log in or register to download our resources</p>
    <a class="btn btn-outline-primary" href="{% url 'login' %}" role="button">Log in</a>
    <a class="btn btn-outline-success" href="{% url 'signup' %}" role="button">Register</a>
    

{% endif %}
{% endblock %}
